
.navbar{
  margin-bottom: 0px;
}

h6, h5, h3{
  padding-left: 10px;
}

/** state list view **/
.list-group {  
  padding-left: 0;  
  margin-bottom: 20px;
}  
  
.list-group-item {  
  position: relative;  
  display: block;  
  padding: 2px 2px;  
  margin-bottom: -1px;  
  background-color: rgb(247,247,247);  
  border: 1px solid #dddddd;  
}  
.list-group-item:first-child {
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px; 
}
.list-group-item:last-child {
  border-bottom-left-radius: 0px; 
  border-bottom-right-radius: 0px; 
}
.list-group-item span{
  padding-left:5px;
  padding-right: 5px;
}  

#timerControlGrp{
  padding-top: 10px;
}

#time{
  display: inline-block;
  vertical-align: middle;
  border-left: 5px solid #ccc;
  padding: 3px 0 3px 10px;
}

#time p{
  margin: 0;
}
#time p:first-child{
  color: #999;
  font-size: 11px;
  line-height: 13px;
}
#time p#hour{
  font-size: 30px;
  line-height: 30px;
}

.panelSeperator{
  border-left: 1px solid #ccc;
  padding-left: 0px;
  padding-right: 0px;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}
#legend ul{
  margin-bottom: 0em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

#state-data div {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
  padding-top: 1px;
  color: #5F4815;
  line-height: 24px;
  height: 28px;
  margin-left: 0px;
  border-radius: 0px 2px 2px 0px/ 2px 2px;
  /*box-shadow: 6px 2px 2px #aaa;*/
  background-color: #FFFEF7;
  clear: both;
}
.progress-bar{
  white-space:nowrap;
  text-align: left;
  box-shadow: none !important;
  /*border-right: 1px solid #0C570D;*/
}
.pdl10{
  padding-left: 10px;
  float: left;
}
.sort-bar{
  clear: both;
  height: 30px;
}
.sort-bar ul{
  list-style-type: none;
  height: 100%;
  padding-left: 10px;
}
.sort-bar li{
  float:left;
}
.sort-bar li>div{
  margin-left: 15px;
  cursor: pointer;
  color: #968B8B;
}
.sort-bar li>div>label{
  font-weight: inherit;
  cursor: pointer;
}
.sort-bar .active>div{
  color: #fb3c2d;
}
.sort-bar .active>div>label{
  border-bottom: 1px solid #fb3c2d;
}
.sort-bar .active .glyphicon{
  top: 2px;
}

/*.sort-bar li>div>label{
  display: inline;
  float: left;
  margin: 0 10px 10px 0px;
  line-height: 28px;
  color: #101010;
}
.sort-bar li>div{
  text-decoration: none;
  height: 100%;
  display: block;
  line-height: 28px;
  padding: 0 5px 0 3px;
  color: #aaa;
}
.sort-bar .active>a{
  color: #fb3c2d;
  border-bottom: 1px solid #fb3c2d;
}
*/