body {
    background : #171b23;
    margin: 0 auto;
}
#header, #count-view {
  color: black;
}

#header {
  background : lightgrey;
  padding: 1.3em 1.3em;
  overflow : hidden;
  opacity: 0.6;
}

#slider{
    width: 500px;
    margin: 10px auto;
    border-radius: 5px;
    height: 10px;
    background: #f3f3f3
}
#slider.d3-slider-horizontal .d3-slider-handle{
    top: -0.4em;
}
#graph-container {
    width : 900px;
    height : 600px;
    margin : 0 auto;
}
#graph-container .grpahz-legend{
    display : none;
}
input[type="range"]{
    display : block;
    width  : 500px;
    margin : 0 auto;
}

#hourly-count-view {
  display: inline-block;
  margin-left: 40%;
}

button {
	margin: 10px auto;
	font-weight: bold;
  font-size: 1.1em;
	background: #f4f4f4;
	border: 1px solid #939393;
	border-radius: 5px;
}


#state-data table {
  width: 180px;
}

#state-data table tr {
  border-bottom: 1px solid #000;
}

#am-pm ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  margin-left: 52px;
}
#am-pm ul li{
  display: inline;
  padding: 2px 5px;
  background-color: #655;
  color: #522;
}
.am{border-radius: 5px 0 0 5px;}
.pm{border-radius: 0 5px 5px 0;}
#am-pm ul li.active{
  background-color: #fb3c2d;
  color: #fff;
}
/*.wd-100{width: '100%'}*/
.wd-220-diff{width: calc(100% - 220px) !important}


/* analog clock css */
#clock {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 20px auto 0 auto;
  background: url(img/clockface.jpg);
  list-style: none;
  background-size: 100% 100%;
}
   
#hour {
  position: relative;
  width: 10px;
  height: 165px;
  top: -7px;
  left: 31px;
  background: url(img/hourhand.png);
  z-index: 1;
  background-size: 100% 100%;
}