#slider{
    width: 500px;
    margin: 10px auto;
    border-radius: 5px;
    height: 10px;
    background: #f3f3f3
}
#slider.d3-slider-horizontal .d3-slider-handle{
    top: -0.4em;
}
#graph-container {
    width : 900px;
    height : 600px;
    margin : 0 auto;
}
#graph-container .grpahz-legend{
    display : none;
}
input[type="range"]{
    display : block;
    width  : 500px;
    margin : 0 auto;
}
button#play-btn {
	width: 100px;
	margin: 10px auto;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	background: #f4f4f4;
	border: 1px solid #939393;
	border-radius: 5px;
}